<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <section id="container">

        <header><h1>Welcome To CRUDelicious</h1></header>

        <section id="checkOut">
            <h2>Check out some recent dishes!</h2>
        <section id="dishList">
            @{
                foreach (var dish in Model)
                {
                    <ul>
                        <li><a action="Show" href="@dish.DishId">@dish.Name</a> By @dish.Chef</li>
                    </ul>
                }
            }
        </section>
            <a href="/New">Add a Dish</a>
        </section>
    </section>

</body>
</html>