<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Nick Hollins Portfolio | Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section id="aboutMe">
            <h1>About Me</h1>
        </section>
        <section id="aboutMeInfo">
            <section id="aboutMeImg" class="aboutMeBoxes">
                <img class="myImg" src="/images/about-img.jpg" alt="Image of Nick">
                <h2>Nick Hollins</h2>
                <h3>I like sports, gaming, and coding</h3>
            </section>
            <section id="aboutMeText" class="aboutMeBoxes">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, doloremque ullam qui placeat odit sit necessitatibus quo eaque aliquam excepturi vel dolorem iure error repellat ad cupiditate incidunt adipisci quasi voluptate provident cum ducimus quaerat minima! Ipsa cumque ratione obcaecati nulla fugit commodi incidunt dolores.</p>
            </section>
        </section>
    </div>
</body>
</html>