* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

#container {
    margin: 0 auto;
    max-width: 85%;
}

header {
    text-align: center;
    margin: 1em 1em 4em 1em;
    padding: 1em;
}

header h1 {
    font-size: 2rem;
}

/* global styles */
li {
    list-style: none;
}

#checkOut {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

#checkOut h2 {
    border-bottom: 2px solid #333;
    padding-bottom: .5em;
}

/* dish list view */
#dishList {
    background-color: #3a86ff;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    width: 50%;
}